<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Chapter 11</h1>
                <h2>Creating Modern User Experiences Using JQuery, Knockout.js and Web API</h2>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Samples:</h3>
        <ol class="round">
            <li class="one">
                <h5>Recipe 11-2</h5>
                @Html.ActionLink("Creating an data grid that can page and sort without full page post backs",
                         "WorkspaceList")
            </li>
        </ol>
    </section>
</div>
