<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhLuyeBc0ZkWzTyYFh8uEKwQAAAACAAAAAAAQZgAAAAEAACAAAADAlS+MvSnvKMdu7Qy1LkmBBnB+a+9hjEILDc2+wet86QAAAAAOgAAAAAIAACAAAABudxEMxSdxNTSH2vFnJNYxF9P1eLPNQalDWHvDTzxy5NABAADybr45+X9j0iafolV6E1Y4Us78S+l3wfLYdpqitX3l/sx275BVZZA7+ivqqeOSRGeWynsriGUF3JXt3VoCuZrK57Loh1znoyyyw9LQrZoS6ou+KXH/+F7PJF1NQ6UfA3wq841qCwvnlM76RDxowfcFnfBtjFoOWG3WXrRxGk7rwgSwPIrIrIsup6Tkx8LZUfFYtiMcfpiIpIgyAqZBC1DhuXhVqpxTIJJspzOpw86BUGqtFNbVOrYrOq8iFfTVYNyR8Gh/ydEx+Fc2GGfDEheWVlZWYT7Qs3HgLWUK+d5nCg+P8aIkyGYMk1Aut1KJLpa6nvq+YAIXixoXaGnw4ZLsppBXQz2+5b96YsijNM64+oH+ajKeAGaunjCmdyink09XfbtnsVGq26ReS5Ocj8c9u++K1w2nQw+ntfdOkNuN8rO9BBun677VTjCT1Frkt9Q1jX63X+4D9nKz6NpsqOqjM/yKcLkR4yeMomanfUfjds/epMB+xeHu17LKQR2havT5199Mnx7vWoayqwcDgLXIQ/02jj0VBd5Q+VMIoOtPp0Z0Jh5UJWJdvP+HCHioeVeM/PfACQ2ITchnUFDavtC54ecwivX6MbS1I+C4exHBy0AAAAC+bXEYQ6RE1M4JWSjA3tnOg0dpZr0H8O9aQpkcu5tQTmiRH34QQvcj3E0vPBIXLpayg7IUh9fkNYajAhrRZgrW</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>