@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET MVC Recipies Samples Chapter 10</h2>

<h3>Data Control Replacement</h3>
<ul>
    <li>@Html.ActionLink("Repeater Replacement", "RepeaterReplacement","DataExamples")</li>
    <li>@Html.ActionLink("Repeater Replacement", "DataListReplacement" ,"DataExamples")</li>
    <li>@Html.ActionLink("Repeater Replacement", "GridViewReplacementWithSortFilterAndPaging" ,"DataExamples")</li>
    <li>@Html.ActionLink("Repeater Replacement", "GridViewReplacementWithInplaceEditing","DataExamples")</li>
</ul>