body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
fieldset label { display:block; font-size:1.2em; font-weight:600; }
	fieldset ol { padding:0; list-style:none;}
#ProjectDescription { width: 300px; height: 100px; }

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

input:invalid {
    border: 1px solid #f00;
    background-color: #fee;
}
input:out-of-range {
    border: 1px solid #f00;
    background-color: #fee;
}


::-webkit-validation-bubble-message {
    background-color: #b6ff00;
}

::-webkit-validation-bubble-arrow {
    background-color: #b6ff00;
}