@{
    ViewBag.Title = "Call Three Web Services";
}

<h2>Call Three Web Services</h2>

<h3>Results 1</h3>
@ViewBag.Results[0]

<h3>Results 2</h3>
@ViewBag.Results[1]

<h3>Results 3</h3>
@ViewBag.Results[2]