@{
    ViewBag.Title = "Chapter 8 - Examples";
}

<h2>Chapter 8 - Recipe 8-2</h2>
<h3>Running several asynchronous calls in parallel inside an action method</h3>
<ul>
    <li>@Html.ActionLink("Listing 8-3", "CallThreeServicesAsync")</li>
    <li>@Html.ActionLink("Listing 8-4", "CallTenServicesAsync")</li>
     <li>@Html.ActionLink("Listing 8-5", "GetPhotoAndComments")</li>
</ul>