@{
    ViewBag.Title = "Index";
}
 <script>
        function SayHello() {
            var hello = "hello";
            alert(hello);
        }
    </script>
<h2>Index</h2>
<input type="button" value="Javascript Click Me"  onclick="SayHello()"/>