<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Chapter 11 - R3</h1>
                <h2>Data binding example with Knockout.js</h2>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Examples:</h3>
        <ol class="round">
            <li class="one">
                <h5>Data Binding</h5>
                @Html.ActionLink("Databinding with jQuery and Knockout.js","Appointments")
            </li>
        </ol>
    </section>
</div>
