@model Ch7.R7_1.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}
@using (Html.BeginForm() ){
<h2>ResetPassword</h2>
@Html.TextBoxFor(m=>m.UserName)<br />
@Html.TextBoxFor(m=>m.ResetToken)<br />
@Html.TextBoxFor(m=>m.NewPassword)<br />
<input type="submit" />

}