@model CH12.R3.Web.Models.FileListModel
@{
    ViewBag.Title = "File List";
}

<h2>File List</h2>
<ul>
@foreach (var item in Model.Files)
{ 
    <li>

    <a href="@item.URL">@item.FileName</a> (@item.Size bytes)
        
     </li>
}
</ul>

@Html.ActionLink("Upload Another File", "UploadFile")