@{
    ViewBag.Title = "UploadFile";
}

<h1>Upload a File</h1>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <span id="messages"></span>
    <input type="file" id="File01" name="File01" multiple/>
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
