<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhLuyeBc0ZkWzTyYFh8uEKwQAAAACAAAAAAAQZgAAAAEAACAAAAArlnEu6AvXVU+Fhw2xuU6p5eOvVy4bWmmggvYfTROCKAAAAAAOgAAAAAIAACAAAADxdogL1G8nnfYGsT0UJxrnrJflE3CYpCbo89G85TgYpzAAAAArS6tQPoT3dV5MKYrnaoU6OHFp8MFHLwrGX/UDeWiaxtgr/vlVH2EtzfnRMjOj7wJAAAAAt+pJyxWyqOMDCebdcyiFR/SGAkro7s9l7TINHZUPLyX/lX9TZOW0LSsf69/L+xfQdI+dI3Ee5PFos7CzxAx6kg==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>