@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
<li>@Html.ActionLink("Listing 8-6" ,"CallWCFService")</li>
<li>@Html.ActionLink("Listing 7-7" ,"CallWCFServiceAsync")</li>
<li>@Html.ActionLink("Listing 7-8" ,"CallWCFWithWaitAllAsync")</li>
</ul>
